<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="asset/icon_edit.svg">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
    <title>입점업체</title>
  </head>
  <body>
    <!-- admin ui start -->
    <div class='wrapper-container'>
      <div id="manage-modal-container" class="closed">
        <div id="manage-modal-background">
          <div class="admin-title">
            <div>입점 브랜드 추가</div>    
            <img src="asset/icon_x.svg" alt="logo" 
                class="close-admin button-wrapper right" 
                id='close-manage-modal-button'
            />
          </div>
          <div class="manage-modal-body">
            <span class="gray-text">
              입점 브랜드명 한글 표기
            </span>
            <div class="manage-modal-input-field" contenteditable="true" id="korNameInputField"></div>
            <span class="gray-text">
              입점 브랜드명 영문 및 기타 표기
            </span>
            <div class="manage-modal-input-field" contenteditable="true" id="engNameInputField"></div>
            <span class="gray-text">
              입점 브랜드 홈페이지 링크
            </span>
            <div class="manage-modal-input-field" contenteditable="true" id="brandUrlInputField">http://</div>

            <label for="isBrandedCheckBox">
              <span class="gray-text">
                브랜디드 산하 브랜드
              </span>
              <input type="checkbox" id="isBrandedCheckBox" />
            </label>

            <br>
            <span class="gray-text">
              입점 브랜드 카테고리
            </span>
            <div class="dropdown closed">
              <div id="category-title">
                카테고리 
                <img src="asset/icon_select_arrow.svg" alt="logo" class="close-admin button-wrapper right" />
              </div>
              <ul id="category-menu">
                <li id="man-clothes">남성의류</li>
                <li id="man-accesery">남성악세사리</li>
                <li id="man-shose">남성신발</li>
                <li id='beauty'>뷰티</li>
              </ul>
            </div>

            <div id="category-list"></div>

            <div class="category-button-container">
              <span id="cancel-button">취소</span>
              <span id="submit-button">입점 브랜드 추가</span>
            </div>
            <div id="id-for-edit"></div>
          </div>
        </div>
      </div>

      <!-- check admin -->
      <div id='check-admin-container' class='closed'>
        <div id="check-admin-background">
          <div class="admin-title">
            <div>관리자 인증</div>    
            <img src="asset/icon_x.svg" alt="logo" class="close-admin button-wrapper right" id='close-admin-container-button'/>
          </div>
          <div class="check-admin-body">
            <div class="password-title">Password</div>
            <form id="password-form">
              <input type="password" id="check-admin-input-field"></input>
              <input type="submit" id='check-admin-container-button' value="인증"></input>
            </form>
          </div>
        </div>
      </div>

      <!-- delete admin -->
      <div id='delete-admin-container' class='closed'>
        <div id="delete-admin-background">
          <div class="admin-title">
            <div>입점 브랜드 삭제</div>    
            <img src="asset/icon_x.svg" alt="logo" class="close-admin button-wrapper right" id='close-delete-admin-container-button'/>
          </div>
          <div class="delete-admin-body">
            <span class="delete-warning">
              선택하신
              <span class="red-text" id="brand-will-delete">브랜디드</span>
              <br>
              브랜드를 목록에서 삭제합니다.
            </span>
            <div id='delete-admin-container-button'>삭제</div>
          </div>
        </div>
      </div>

      <div id="outer-container" class="non-admin-mode">

        <!-- user ui start -->
        <div class="title-container">
          <a href='https://cafe.naver.com/coredenim' target="_blank" title="브랜디드" class="button-wrapper left">
            <img src="asset/logo_brandedlogo.svg" alt="logo" class="title-img"/>
          </a>
          <div id="admin-button" class="button-wrapper right">
            <img src="asset/icon_login.svg" alt="admin" id="login-icon"/>
            <img src="asset/icon_logout.svg" alt="admin" id="logout-icon"/>
          </div>
        </div>

        <div class="inner-container">

          <div class="search-container" id="search-container">
            <form class="search-form" id="search-form">
              <img src="asset/icon_search.svg" alt="admin" id="search-icon"/>
              <input 
                id="search-input"
                class="search-input"
                placeholder="검색"  
                type="text" name="brand-name" required
              >
            </form>
            <div id="delete-input-text" >
              <img src="asset/icon_x.svg" alt="logo" 
              id='delete-input-text-button'
              />
            </div>
          </div>

          <div class="category-container">
            <div id="user-category-list" class="total">
              <span id="total" class="clicked">전체</span>
              <span id='man-clothes'>남성의류</span>
              <span id="man-shose">남성신발</span>
              <span id="man-accesery">남성악세서리</span>
              <span id='beauty'>뷰티</span>
            </div>
          </div>
            
          <div id="companies-container">
            <div id="add-button-container">
              <div id="add-button">
                <img src="asset/icon_plus.svg" alt="admin" id="plus-icon"/>
                입점 브랜드 추가
              </div>
            </div>
            <ul id="company-list"></ul>
            <div class="branded-info">
              <div class="info-text-container first-child">
                <span class="gray-text">상호</span>
                <span>(주) 브랜디드 인더스트리</span>
              </div>
              <div class="info-text-container">
                <span class="textarea-with-width">
                  <span class="gray-text">사업자번호</span>
                  <span>457-81-01830</span>
                </span>
                <span class="gray-text">대표자</span>
                <span>김우용</span>
              </div>
              <div class="info-text-container">
                <span class="textarea-with-width">
                  <span class="gray-text">문의</span>
                  <span>eventsupport@naver.com</span>
                </span>
                <span class="gray-text">주소</span>
                <span>대구광역시 동구 안심로 280 2층</span>
              </div>
            </div>
          </div>
        </div>

        <div class="side-bar">
          <img src="asset/icon_star.svg" alt="logo" class="focused" id="star-icon">
          <div id="가_link">가</div>
          <div id="나_link">나</div>
          <div id="다_link">다</div>
          <div id="라_link">라</div>
          <div id="마_link">마</div>
          <div id="바_link">바</div>
          <div id="사_link">사</div>
          <div id="아_link">아</div>
          <div id="자_link">자</div>
          <div id="차_link">차</div>
          <div id="카_link">카</div>
          <div id="타_link">타</div>
          <div id="파_link">파</div>
          <div id="하_link">하</div>
        </div>
      </div>
    </div>
    <script type="module" src="script.js"></script>
  </body>
</html>
