<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
    <title>입점업체</title>
  </head>
  <body>
    <!-- admin ui start -->
    <div class='wrapper-container'>
      <div id="manage-modal" class="closed">
        입점 브랜드명 한글 표기
        <div contenteditable="true" id="korNameInputField"></div>
        입점 브랜드명 영문 및 기타 표기
        <div contenteditable="true" id="engNameInputField"></div>
        입점 브랜드 홈페이지 링크
        <div contenteditable="true" id="brandUrlInputField">http://</div>

        <label for="isBrandedCheckBox">
          브랜디드 산하 브랜드
          <input type="checkbox" id="isBrandedCheckBox" />
        </label>

        <div class="dropdown closed">
          <div id="category-title">카테고리 <span>∆</span></div>
          <ul id="category-menu">
            <li id="man-clothes">남성의류</li>
            <li id="man-accesery">남성악세사리</li>
          </ul>
        </div>

        <div id="category-list"></div>

        <div id="submit-button">submit</div>

        <div id="cancel-button">취소</div>
        <div id="id-for-edit"></div>
      </div>

      <!-- check admin -->
      <div id='check-admin-container' class='closed'>
        <div id="check-admin-background">
          <div class="check-admin-title">
            <div>관리자 인증</div>    
            <img src="asset/icon_x.svg" alt="logo" class="close-admin" id='close-admin-container-button'/>
          </div>
          <div class="check-admin-body">
            <div>Password</div>
            <div contenteditable="true" id="check-admin-input-field"></div>
            <div id='check-admin-container-button'>확인</div>
          </div>
        </div>
      </div>

      <div id="outer-container" class="non-admin-mode">

        <!-- user ui start -->
        <div class="title-container">
          <img src="asset/logo_brandedlogo.svg" alt="logo" class="title-img"/>
          <div id="admin-button">
            <img src="asset/icon_login.svg" alt="admin" id="login-icon"/>
            <img src="asset/icon_logout.svg" alt="admin" id="logout-icon"/>
          </div>
        </div>

        <div class="inner-container">

          <div class="search-container">
            <img src="asset/icon_search.svg" alt="admin" id="search-icon"/>
            <input 
            placeholder="검색"  
            type="text" id="search-input-field" name="brand-name" required>
          </div>

          <div class="category-container">
            <div id="user-category-list" class="total">
              <div id="total" class="clicked">전체</div>
              <div id='man-clothes'>남성의류</div>
              <div id="man-shose">남성슈즈</div>
              <div id="man-accesery">남성악세서리</div>
            </div>
          </div>
            
          <div id="companies-container">
            <div id="add-button-container">
              <div id="add-button">입점 브랜드 추가</div>
            </div>
            <ul id="company-list"></ul>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="script.js"></script>
  </body>
</html>
