body {
  font-size: 12px;
  all: unset;
  font-family: Pretendard;
}

input[type="text"] {
  all: unset;
}

input[type="submit"] {
  all: unset;
}

input[type="password"] {
  all: unset;
}

ul {
  all: unset;
}

.wrapper-container {
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  padding-bottom: 100px;
  margin: auto;
}

/* title-container */
.title-container {
  height: 54px;
  padding: 0 20px;
  padding-top: 5px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid;
  position:fixed;
  top: 0px;
  width: calc(100vw - (100vw - 100%) - 40px);
  z-index: 2;
}

.branded-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.text-branded{
  height: 16px;
  margin-top: 3px;
}

.brand-count-text{
  transform: translate(1px,-1px);
  display: flex;
}

#brand-count-text-bold{
  font-weight: bold;
  width: 30px;
  text-align: right;
  transform: translateX(-1px);
}

.branded-count-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  font-size: 10px;
}

.title-img {
  height: 32px;
  margin: 0px 0.3px 0.3px 0;
  cursor: pointer;
}

.title-container #admin-button {
  height: 18px;
  width: 18px;
  padding: 10px 0px 10px 10px;
  cursor: pointer;
}

.right-nav-bar{
  width: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cafe-icon{
  transform: translateY(1px);
  width: 26px;
  height: 26px;
}

#login-icon{
  transform: translateY(-5px);
  width: 26px;
  height: 26px;
}

#logout-icon{
  transform: translateY(-5px);
  width: 26px;
  height: 26px;
}

.non-admin-mode #logout-icon {
  display: none;
}

.admin-mode #login-icon {
  display: none;
}


.close-admin {
  cursor: pointer;
}

/* inner-container */
.inner-container {
  max-width: 1200px;  
  margin: auto;
  padding: 17px 20px;
  margin-top: 160px;
}

/* search-container */
.search-container {
  background-color: #f7f7f7;
  height: 20px;
  color: #767676;
  align-items: center;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 78px;
  left: 20px;
  width: calc(100vw - (100vw - 100%) - 60px);
  z-index: 2;
  max-width: 1200px;  
}

.search-form {
  width: 100%;
  display: flex;
  padding-top: 3px;
}

.search-form .search-input {
  width: 100%;
  flex: 1;
  color: #767676;
  transition-property: color;
  transition-duration: 0.3s;
  transform: translate(2px, -1px);
}

#search-input-field {
  margin-left: 12px;
}

#search-icon {
  width: 14px;
  height: 14px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 5px;
  cursor: pointer;
  transform: translate(1px, 0px);
}

/* category-container */
.category-container {
  width: 100%;
  position: fixed;
  top: 128px;
  left: 20px;
  z-index: 2;
  max-width: 1200px;  
  margin: auto;


  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1260px) {
  .category-container {
    margin-left: calc(50vw - 630px);
  }
  .search-container {
    margin-left: calc(50vw - 630px);
  }
  .title-container{
    padding-left: calc(50vw - 610px);
    padding-top: 5px;
  }
  .right-nav-bar{
    padding-right: calc(100vw - 1270px);
  }
}

.white-background{
  background-color: white;
  position: fixed;
  top: 59px;
  right: 20px;
  width: 100vw;
  height: 118px;
  z-index: 1;
  transform: translateX(20px);
}

.category-container #user-category-list {
  padding-right: 8px;
  width: calc(100vw - 40px);
  max-width: 450px;
  overflow:scroll;
  white-space: nowrap;
  z-index: 3;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media ( max-width: 768px ) {
  .category-container #user-category-list {
    padding-right:20px;
    padding-left:20px;
    transform: translateX(-20px);
  }
}

#user-category-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#user-category-list span {
  cursor: pointer;
  background-color: #f7f7f7;
  color: #767676;
  margin-right: 10px;
  padding: 8px 17px;
  padding-bottom: 7px;
  text-align: center;
  height: 200px;
  font-size: 14px;
  line-height: 36px;
}

#user-category-list .clicked {
  background-color: gray;
  color: white;
}

/* branded-title */
.category-tag {
  font-size: 25px;
  font-weight: bold;
  margin-top: 43px;
  margin-bottom: 7px;
}

#branded {
  font-size: 25px;
  font-weight: bold;
  margin-top: 43px;
  margin-bottom: 7px;
  margin-top: 35px;
}

/* company */
#companies-container {
  width: calc(100% - 50px);
}
@media screen and (min-width: 500px) {
  #companies-container {
    width: calc(100% - 100px);
  }
}

.company {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbcbcb;
}

.company .company-link-common {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.company .company-link-common #eng-name {
  color: #adadad;
  margin-left: 3px;
  font-size: 9px;
}

.company-link-common {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.link-icon {
  width: 7px;
  height: 10px;
}

.admin-mode .arrow {
  display: none;
}

.delete {
  border-left: 0.6px solid #cbcbcb9b;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

img.edit {
  width: 24px;
  height: 24px;
  padding: 8px;
  padding-bottom: 6px;
  cursor: pointer;
}

/* add-button-container */
#add-button-container {
  height: 40px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;
  display: flex;
  align-items: center;
  transform: translate(0, 20px);
  z-index: -1;
}

#plus-icon {
  width: 11px;
  height: 11px;
  padding-right: 4px;
}

#add-button {
  width: 120px;
  height: 24px;
  background-color: black;
  color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* manage-modal */
#manage-modal-container {
  position: fixed;
  transform: translate(calc(-51%), -160px);
  left: 50vw;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  #manage-modal-container {
    transform: translate(calc(-50%), -160px);
  }
}

#manage-modal-background {
  width: 335px;
  height: 629px;
  max-height: 100vh;
  background-color: white;
  overflow-y: scroll;
}

#manage-modal-background {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#manage-modal-background::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.manage-modal-body {
  margin: 15px;
}

.gray-text {
  color: #767676;
  font-size: 12px;
}

.manage-modal-input-field {
  width: calc(100% - 5px);
  height: 30px;
  border: solid 1px #ccc;
  margin-top: 4px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 5px;
  color: #767676;
}

#isBrandedCheckBox {
  width: 15px;
  height: 15px;
  transform: translateY(1px);
  margin-bottom: 17px;
}

/* check-admin-background */

#check-admin-container {
  position: fixed;
  transform: translate(calc(-51%), -160px);
  left: 50vw;
  background-color: rgba(0, 0, 0, 0.4);
  width: 102vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

#check-admin-container-button {
  cursor: pointer;
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#cancel-button {
  cursor: pointer;
  width: 48%;
  background-color: #767676;
  color: white;
  height: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#submit-button {
  cursor: pointer;
  width: 48%;
  background-color: black;
  color: white;
  height: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.category-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#password-form {
  width: 100%;
}

#check-admin-container.closed {
  display: none;
}

#check-admin-background {
  width: 335px;
  height: 217px;
  background-color: white;
}

.admin-title {
  height: 35px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #cbcbcb;
}

.check-admin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.password-title {
  display: flex;
  align-items: flex-end;
  color: #767676;
  height: 20px;
  width: 100%;
  font-size: 12px;
  padding-bottom: 3px;
  font-size: 14px;
}

#check-admin-input-field {
  width: calc(100% - 13px);
  height: 20px;
  border: 1px solid #cbcbcb;
  padding: 10px 5px;
}

/* delete-admin-background */

#delete-admin-container {
  position: fixed;
  transform: translate(calc(-51%), -160px);
  left: 50vw;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#delete-admin-container.closed {
  display: none;
}

#delete-admin-background {
  width: 335px;
  height: 217px;
  background-color: white;
}

.delete-admin-title {
  color: #a02121;
  height: 32px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #cbcbcb;
}

.delete-admin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.delete-warning {
  font-size: 16px;
  width: 100%;
  line-height: 1.64;
}

#delete-admin-input-field {
  width: 100%;
  height: 20px;
  border: 1px solid #cbcbcb;
  padding: 10px 5px;
}

#delete-admin-container-button {
  width: 100%;
  background-color: #a02121;
  color: white;
  height: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.red-text {
  color: #a02121;
  font-weight: bold;
}

/* category-list */

#category-list {
  height: 100px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
  border: 1px solid #cccc;
  padding: 13px;
}

#category-list div {
  cursor: pointer;
  background-color: #f7f7f7;
  height: 35px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #767676;
  padding: 5px;
  padding-left: 15px;
}

#category-list div div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-category {
  width: 20px;
  height: 20px;
}

/*  */

#manage-modal-container.closed {
  display: none;
}

.non-admin-mode #add-button-container {
  display: none;
}

.non-admin-mode #company-list .edit {
  display: none;
}

.non-admin-mode #company-list .delete {
  display: none;
}

.admin-mode #company-list .company-link-nonadmin {
  display: none;
}

.non-admin-mode #company-list .company-link-admin {
  display: none;
}

#id-for-edit {
  display: none;
}

/* branded-info */
.branded-info {
  margin-top: 300px;
  padding-top: 15px;
  width: 100%;
  border-top: 1px solid #cbcbcb;
  font-size: 11px;
}

.info-text-container {
  margin-bottom: 8px;
  width: calc(100% + 20px);
}

.info-text-container.first-child {
  margin-bottom: 9px;
}

.gray-text {
  color: #6a6a6a;
}

.textarea-with-width {
  display: inline-block;
  width: 150px;
}

.side-bar {
  width: 18px;
  height: 200px;
  position: fixed;
  right: calc(20px);
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (min-width: 1240px) {
  .side-bar {
    right: calc(50vw - 600px);
  }
}

#star-icon {
  width: 25px;
  height: 25px;
}

#star-icon.focused {
  filter: invert(46%) sepia(0%) saturate(0%) hue-rotate(185deg) brightness(100%) contrast(86%);
}

.side-bar div {
  color: #cccccc;
  padding-top: 5px;
  font-size: 13px;
}

.side-bar div.focused {
  color:#767676;
}

/* drop down script */
body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  background: #e3e3e3;
  border: solid 1px rgb(222, 222, 222);
  width: 100%;
  cursor: pointer;
  color: #767676;
  margin-top: 2px;
  margin-bottom: 10px;
}
#category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  font-size: 14px;
  text-align: center;
}
#category-menu {
  height: 230px;
  overflow: auto;
}
#category-menu li {
  text-transform: uppercase;
  padding: 14px 6px;
  border-top: solid 1px rgb(202, 202, 202);
}
.dropdown.closed #category-menu {
  display: none;
}
.dropdown.closed #category-title img {
  transform: rotate(180deg);
}

.button-wrapper{
  padding: 10px;
}

.button-wrapper.left{
  padding: 10px 10px 10px 0px;
}

.button-wrapper.right{
  padding: 10px 0px 10px 10px;
}

/* delete-input-text */
#delete-input-text{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 5px;
  background-color: white;
  transition-property: transform opacity;
  transition-duration: 0.3s;
  transform: translateX(20px);
  z-index: 0;
}

#delete-input-text.display{
  height: 40px;
  width: 40px;
  transform: translateX(10px);
  transition-property: transform opacity;
  transition-duration: 0.3s;
}

#delete-input-text #delete-input-text-button{
  width: 18px;
  height: 18px;
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 0.3s;
}

#delete-input-text.display #delete-input-text-button{
  opacity: 1;
  transition-property: transform opacity;
  transition-duration: 0.3s;
}

#search-input:focus::-webkit-input-placeholder{
  color:transparent; 
  transition-property: color;
  transition-duration: 0.3s;
}
#search-input:focus::-moz-placeholder{
  color:transparent; 
  transition-property: color;
  transition-duration: 0.3s;
}