
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', sans-serif;
  font-size: 12px;
  all: unset;
}

input {
  all: unset;
}

ul {
  all: unset;
}

.wrapper-container{
  width: 100vw;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;  
  box-shadow: 0px 0px 3px 3px rgb(219, 219, 219);
}

/* title-container */
.title-container{
  height: 54px;
  padding: 0 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid;
}

.title-img{  
  width: 83.6px;
  height: 23.1px;
  margin: 0px 0.3px 0.3px 0;
}

.title-container #admin-button{
  height: 18px;
  width: 18px;
}

.non-admin-mode #logout-icon {
  display: none;
}

.admin-mode #login-icon {
  display: none;
}

/* inner-container */
.inner-container{
  margin: 17px 20px;  
}

/* search-container */
.search-container{ 
  background-color: #f7f7f7;
  height: 20px;
  color: #767676;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

#search-input-field{
  margin-left: 12px;
}

#search-icon{
  width: 14px;
  height: 14px;
}

/* category-container */
.category-container{
  background-color: thistle;
  width: 100%;
}

.category-container #user-category-list{
  height: 25px;
  display: flex;
  align-items: center;
}

.category-container #user-category-list > div{
}

/* branded-title */
.category-tag{
  font-size: 25px;
  font-weight: bold;
  margin-top: 43px;
  margin-bottom: 7px;
}

.category-tag#branded{
  margin-top: 35px;
}

/* company */
#companies-container{
  width: calc(100% - 50px);
}

.company{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbcbcb;
}

.company a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.company a #eng-name{
  color: #adadad;
  margin-left: 3px;
  font-size: 9px;
}

.admin-mode .arrow{
  display: none;
}

.delete {
  border-left: 0.6px solid #cbcbcb9b;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  width: 16px;
  height: 16px;
}

.edit{
  width: 24px;
  height: 24px;
  padding: 10px;
}

/* add-button-container */
#add-button-container{
  height: 40px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;
  display: flex;
  align-items: center;
  transform: translate(0, 20px);
}

#add-button{
  width: 131px;
  height: 24px;
  background-color: black;
  color: white;
  padding: 3px;
  display: flex;
  align-items: center;
}

/* check-admin-background */

#check-admin-container {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50vw;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#check-admin-container.closed {
  display: none;
}

#check-admin-background{
  width: 335px;
  height: 217px;
  background-color: white;
}

.check-admin-title{
  height: 32px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:16px;
  border-bottom: 1px solid #cbcbcb;
}

.check-admin-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.password-title{
  display: flex;
  align-items: flex-end;
  color: #767676;
  height: 20px;
  width: 100%;
  font-size: 12px;
  padding-bottom: 3px;
  font-size: 14px;  
  font-family: Pretendard;
}

#check-admin-input-field{
  width: 100%;
  height: 20px;  
  border: 1px solid #cbcbcb;
  padding: 10px 0;
}

#close-admin{
  width: 14px;
  height: 14px;
}

#check-admin-container-button{
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;  
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 12px;
  font-weight: bold;
}


/*  */

#category-list {
  width: 100px;
  height: 100px;
  background-color: gray;
}

#manage-modal {
  position: absolute;
  left: 40px;
  top: 40px;
  background-color: ivory;
  z-index: 10;
}

#manage-modal.closed {
  display: none;
}

.non-admin-mode #add-button-container {
  display: none;
}

.non-admin-mode #company-list .edit {
  display: none;
}

.non-admin-mode #company-list .delete {
  display: none;
}

#id-for-edit {
  display: none;
}

/* user-category-list */
#user-category-list li.clicked {
  background-color: gray;
}

/* drop down script */
body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
  background: rgb(248, 248, 248);
  border: solid 1px rgb(222, 222, 222);
  width: 320px;
  cursor: pointer;
}
#category-title {
  display: flex;
  justify-content: space-around;
}
#category-menu {
  height: 230px;
  overflow: auto;
}
#category-menu li {
  text-transform: uppercase;
  padding: 14px 6px;
  border-top: solid 1px rgb(202, 202, 202);
}
.dropdown.closed #category-menu {
  display: none;
}
.dropdown.closed #category-title span {
  transform: rotate(180deg);
}
