body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: 15px;
  all: unset;
}

input {
  all: unset;
}

ul {
  all: unset;
}

.wrapper-container{
  width: 100vw;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;  
  box-shadow: 0px 0px 3px 3px rgb(219, 219, 219);
}

/* title-container */
.title-container{
  height: 54px;
  padding: 0 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid;
}

.title-img{  
  width: 83.6px;
  height: 23.1px;
  margin: 0px 0.3px 0.3px 0;
}

.title-container #admin-button{
  height: 18px;
  width: 18px;
}

.non-admin-mode #logout-icon {
  display: none;
}

.admin-mode #login-icon {
  display: none;
}

/* inner-container */
.inner-container{
  margin: 17px 20px;  
}

/* search-container */
.search-container{ 
  background-color: #f7f7f7;
  height: 20px;
  color: #767676;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 17px;
}

#search-input-field{
  margin-left: 12px;
}

#search-icon{
  width: 14px;
  height: 14px;
}

/* category-container */
.category-container{
  background-color: thistle;
  width: 100%;
}

.category-container #user-category-list{
  overflow-y: auto;
  height: 20px;
}

.category-container #user-category-list > span{
  background-color: tomato;
}

.delete {
  color: red;
}

span {
  cursor: pointer;
}

li[data-iscompleted="true"] {
  text-decoration: line-through;
}

#category-list {
  width: 100px;
  height: 100px;
  background-color: gray;
}

#manage-modal {
  position: absolute;
  left: 40px;
  top: 40px;
  background-color: ivory;
}

#manage-modal.closed {
  display: none;
}

.non-admin-mode #add-button {
  display: none;
}

.non-admin-mode #company-list .edit {
  display: none;
}

.non-admin-mode #company-list .delete {
  display: none;
}

#check-admin-container {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: gainsboro;
}

#check-admin-container.closed {
  display: none;
}

#id-for-edit {
  display: none;
}

/* user-category-list */
#user-category-list li.clicked {
  background-color: gray;
}

/* drop down script */
body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
  background: rgb(248, 248, 248);
  border: solid 1px rgb(222, 222, 222);
  width: 320px;
  cursor: pointer;
}
#category-title {
  display: flex;
  justify-content: space-around;
}
#category-menu {
  height: 230px;
  overflow: auto;
}
#category-menu li {
  text-transform: uppercase;
  padding: 14px 6px;
  border-top: solid 1px rgb(202, 202, 202);
}
.dropdown.closed #category-menu {
  display: none;
}
.dropdown.closed #category-title span {
  transform: rotate(180deg);
}
